<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<h2>Login:</h2>
<p th:text="${user.getLogin()}"/>
<h2>First name:</h2>
<p th:text="${user.getFirstName()}"/>
<h2>Second name:</h2>
<p th:text="${user.getSecondName()}"/>
<h2>Email:</h2>
<p th:text="${user.getEmail()}"/>

<form th:action="@{/admin/{id}/edit(id=${user.id})}">
    <button>Edit</button>
</form>
<br/>
<form th:action="@{/admin/delete/{id}(id=${user.id})}">
    <input type="submit" value="Delete">
</form>

<hr/>

<form th:action="@{/admin}">
    <button>Back</button>
</form>

</body>
</html>